@media screen and (max-width: 991px) {
	html {
		font-size: 8px;
	}
	.first-section header .desktop-menu,
	#desktopSocialMedia {
		display: none !important;
	}
	#desktopMenu {
		display: none;
	}
	.first-section header .header-content-wrapper .header-left-side {
		align-items: center;
	}
	.header-content-wrapper {
		justify-content: initial !important;
	}
	.logo img {
		width: 60px !important;
		height: 60px !important;
		margin-left: 1rem !important;
	}
	.mobile-menu-button {
		display: block;
		cursor: pointer;
		margin-top: 18px;
		.fa-bars {
			font-size: 2.4rem;
			color: #ffffff;
			margin-left: 1rem;
		}
	}
}

@media screen and (max-width: 786px) {
	.footer-description {
		flex-direction: column;
		align-items: flex-start;
	}
	.footer-text,
	.footer-button-wrapper {
		padding: 15px;
	}
	.copyright-text,
	.footer-nav {
		padding: 10px;
	}
	.footer-nav {
		ul {
			flex-wrap: wrap;
		}
	}
}

@media screen and (max-width: 576px) {
	.contact-item {
		margin-top: 1rem;
	}
	.our-menu-item {
		padding: 0;
	}
	.contact-img {
		img {
			height: auto;
		}
	}
	.our-menu-item-img {
		img {
			height: auto;
			width: 260px;
		}
	}
}
